.content {
  display: grid;
  grid-template-columns: 65fr 35fr;
  gap: 4em;
  padding-left: 2em;

  // justify-content: center;
  // justify-content: space-between;
}

// .page {
//   flex: 1 1 75%;
// }
