.order-form {
  width: 100%;
  height: 100%;
  border-radius: 2%;
  background-color: rgb(248, 232, 232);
}

.cart-form-container {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 0.8fr 0.2fr;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%;
  height: 90%;
  padding-left: 2%;
}

.cart-form {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  gap: 4%;
}

.cart-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: white;
}

.container-cart-products {
  display: flex;
  flex-direction: column;
}

.order-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.itog {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

.cart-header {
  display: flex;
  padding-left: 2%;
}

.global-cart-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-check-all {
  color: white;
  background-color: rgb(11, 212, 101);
  border-radius: 4%;
  width: 12rem;
  height: 3.5rem;
  font-weight: 600;
  font-size: 1rem;
  border: 0;

  &:hover {
    background-color: rgb(25, 173, 104);
    cursor: pointer;
  }
}

.btn-delete-all {
  color: white;
  background-color: rgb(240, 106, 101);
  border-radius: 4%;
  width: 12rem;
  height: 3.5rem;
  font-weight: 600;
  font-size: 1rem;
  border: 0;

  &:hover {
    background-color: rgb(241, 73, 43);
    cursor: pointer;
  }
}

.btn-next-container {
  width: 90%;
}

.btn-next {
  color: white;
  background-color: rgb(159, 100, 218);
  border-radius: 4%;
  width: 100%;
  height: 3.5rem;
  font-weight: 600;
  font-size: 1rem;
  border: 0;

  &:hover {
    background-color: rebeccapurple;
    cursor: pointer;
  }
}

.error-msg {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  height: 100%;
}
