.wrapper {
  display: flex;
  justify-content: space-between;
  padding: 1em;

  &:hover {
    cursor: pointer;
  }
}

.content {
  //   border: 1px solid rgb(128, 123, 123);
  padding: 0.5rem;
  //   border-radius: 5px;
  //   overflow: scroll;
  display: flex;
  //   overflow: auto;
  flex-direction: column;
  //   height: 100%;
  gap: 2em;
  //   margin-left: 1em;
}

.content-parent {
  height: 0px;
  overflow: hidden;
  //   overflow-y: scroll;
  transition: height ease 0.5s;
  // padding: 0em 0em 0em 2em;
}

.content-show {
  height: 200px;
}
