.TextField {
  position: relative;
  line-height: 0;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  margin: 1.8em;
}

.TextField-label {
  font: inherit;
  transition: transform 200ms;
  transform-origin: top left;
  color: gray;
  pointer-events: none;
  line-height: 1;
  display: block;
  position: absolute;
}

.TextField--isEmpty .TextField-label {
  transform: translate(0, 0.5em) scale(1);
  opacity: 0.5;
}

.TextField--isFilled .TextField-label {
  transform: translate(0, -1em) scale(0.8);
}

.TextField-input {
  margin: 0;
  height: 2em;
  font: inherit;
  box-sizing: content-box; /* box-sizing is set to content-box to get height of inputs to be consistent across browsers */
  line-height: 1;
  border: none;
  border-bottom: 2px solid gray;
  outline: none;
  padding: 0;
  width: 100%;
}

.TextField-input:focus {
  border-bottom-color: black;
}
