.model-desc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  list-style: none;
  gap: 0.5rem;
}

.wrapper {
  display: grid;
  grid-template-columns: 0.2fr 0.8fr;
  grid-template-rows: minmax(10vw, auto) minmax(10vw, auto);
  justify-content: center;
  gap: 1%;
}

.rom-price {
  display: flex;
  gap: 3rem;
  list-style: none;
}

.rom-variant {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.15rem solid black;
  border-radius: 10%;
  min-width: 4rem;
  min-height: 2rem;
  &:hover {
    cursor: pointer;
  }
}

.current-rom {
  color: white;
  background-color: rgb(159, 100, 218);
  border: 0;
  &:hover {
    cursor: default;
  }
}

.sub-wrapper {
  display: grid;
  grid-template-columns: 0.9fr 0.1fr;
  grid-template-rows: auto auto;
  max-width: 70vh;
  column-gap: 20%;
}

.btn-add-to-cart {
  color: white;
  background-color: rgb(159, 100, 218);
  border-radius: 4%;
  width: 12rem;
  height: 3.5rem;
  font-weight: 600;
  border: 0;
  &:hover {
    background-color: rebeccapurple;
    cursor: pointer;
  }
}

.container-add-to-cart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 12em;
  height: 6em;
  gap: 1em;
}

.container-add-to-cart__price {
  font-weight: 800;
  font-size: 1.5em;
}

.desc-container {
  display: flex;
  grid-column: span 2;
}

.desc-container__info {
  width: 46%;
}
