.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-link {
  display: flex;
  justify-content: center;
  width: 12vw;
  background-color: #171717;
  padding: 1% 0 1% 0;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3rem;
  list-style: none;
  gap: 3rem;
}

.nav-links__item {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  &:hover {
    cursor: pointer;
  }
}

.user-info {
  width: 10rem;
}

.user-info__actions {
  position: absolute;
  background-color: blanchedalmond;
}

.user-info__action {
  display: flex;
  align-items: center;
  min-height: 2rem;
  border: 0.1rem solid #ebeff2;

  &:hover {
    cursor: pointer;
    color: rgb(196, 12, 43);
  }
}

.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20%;
}

.cart-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0.8rem;
  bottom: 1.2rem;
  z-index: 4;
  background-color: blanchedalmond;
  border-radius: 50%;
  height: 85%;
  width: 85%;
  font-size: 0.8rem;
}

.btn-login {
  color: white;
  background-color: rgb(159, 100, 218);
  border-radius: 60%;
  width: 40%;
  min-height: 4rem;
  border: 0;

  &:hover {
    background-color: rebeccapurple;
    cursor: pointer;
  }
}

.error-msg {
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  height: 100%;
}

.cart-and-error {
  display: flex;
  align-items: center;
}
