.item_container {
  display: grid;
  grid-template-columns: 0.45fr 0.275fr 0.275fr;
  column-gap: 2em;
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  padding: 0em 0em 0em 2em;
}

.item_desc {
  display: flex;
  //   grid-template-columns: 0.6fr 0.4fr;
  column-gap: 2em;
  //   grid-template-rows: auto;
  //   justify-content: center;
  //   align-items: center;
}

.item_img {
  flex: 1 1 15%;
  width: 5%;
  height: 5%;
}

.item_name {
  display: flex;
  align-items: center;
  flex: 1 1 85%;
}
