.order_history {
  display: flex;
  overflow: auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 87%;
  width: 90%;
  gap: 2em;
  margin: 2em;
}

.order_history_header {
  display: flex;
  width: 95%;
  margin-bottom: 4em;
  height: 5%;
}
