.item-container {
  display: grid;
  grid-template-columns: 0.45fr 0.275fr 0.275fr;
  column-gap: 2rem;
  grid-template-rows: auto;
  justify-content: center;
  align-items: center;
  padding: 0rem 0rem 0rem 2rem;
}

.item-desc {
  display: flex;
  column-gap: 2rem;
}

.item-img {
  flex: 1 1 15%;
  width: 5%;
  height: 5%;
}

.item-name {
  display: flex;
  align-items: center;
  flex: 1 1 85%;
}

.item-amount {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-price {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
}
