.regular-page {
  text-decoration: none;
  color: black;
  font-weight: 500;
  margin: 0.5em;
  padding: 0.12em 0.4em 0.12em 0.4em;

  &:not(.current-page):hover {
    background-color: blanchedalmond;
    border-radius: 60%;
  }
}
.current-page {
  cursor: default;
  border: 0.15em solid black;
  border-radius: 60%;
}
