.phones_wrapper {
  display: grid;
  // grid-template-columns: 0.25fr 0.25fr 0.25fr 0.25fr;
  grid-template-columns: 0.33fr 0.33fr 0.33fr;
  gap: 3em;
  margin-bottom: 3em;
  // justify-content: flex-start;
}
